.footer {
    padding: calc(0.026041 * 100vh) calc(0.104166 * 100vw); // 50px 200px

    &__nav__container {
        @include flex-jc-ai (row, space-between, start);

        .footer__col {

            &__title {
                padding: calc(0.0078125 * 100vh) 0; // 15px
                font-size: $font-size-16;
            }

            .footer__nav {

                &__list {

                    .footer__nav__item {
                        padding: calc(0.001562 * 100vh) 0; // 3px

                        .footer__nav__link {
                            font-size: $font-size-16;
                            font-weight: $font-weight-300;
                            color: $black;
                        }
                    }
                }
            }

            &__list {

                .footer__content {

                    &__text {
                        width: calc(0.15625 * 100vw); // 300px
                        margin-top: calc(0.010416 * 100vh); // 20px
                        font-size: $font-size-16;
                        font-weight: $font-weight-300;
                        color: $black;
                    }
                }
            }
        }
    }

    hr {
        margin: calc(0.015625 * 100vh) 0; // 30px
    }

    &__description {

        &__brand {
            font-size: $font-size-32;
        }

        &__container {
            @include flex(row);
            margin: calc(0.005208 * 100vh) 0; // 10px

            .footer__description__content {
                width: calc(0.182812 * 100vw); // 351px
                margin-right: calc(0.015625 * 100vw); // 30px

                &__text {
                    font-size: $font-size-16;
                    font-weight: $font-weight-300;
                }

                span {
                    display: block;
                    padding-top: calc(0.015625 * 100vh); // 30px
                    font-size: $font-size-16;
                    font-weight: $font-weight-300;
                }
            }
        }
    }
}