.footer {
    padding: 50px 200px;
    &__nav__container {
        @include flex-jc-ai (row, space-between, start);
        .footer__col {
            &__title {
                padding: 15px 0;
                font-size: $font-size-16;
            }
            .footer__nav {
                &__list {
                    .footer__nav__item {
                        padding: 3px 0;
                        .footer__nav__link {
                            font-size: $font-size-16;
                            font-weight: $font-weight-300;
                            color: $black;
                        }
                    }
                }
            }
            &__list {
                .footer__content {
                    &__text {
                        width: 300px;
                        margin-top: 20px;
                        font-size: $font-size-16;
                        font-weight: $font-weight-300;
                        color: $black;
                    }
                }
            }
        }
    }
    hr {
        margin: 30px 0;
    }
    &__description {
        &__brand {
            font-size: $font-size-32;
        }
        &__container {
            @include flex(row);
            margin: 10px 0;
            .footer__description__content {
                width: 351px;
                margin-right: 30px;
                &__text {
                    font-size: $font-size-16;
                    font-weight: $font-weight-300;
                }
                span {
                    display: block;
                    padding-top: 30px;
                    font-size: $font-size-16;
                    font-weight: $font-weight-300;
                }
            }
        }
    }
}