* ,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: $font-family;
}

a {
    text-decoration: none;
}

button {
    outline: none;
    border: none;
    font-family: $font-family;
}

ul,
li {
    list-style: none;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin flex-jc-ai($direction, $jc, $ai) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $direction;
}

// hero section commom 
.hero__container {
    margin: calc(0.15625 * 100vh) 0 0 calc(0.0625 * 100vw); // 300px 0 0 120px
}

.hero__h1 {
    font-size: $font-size-48;
    font-weight: $font-weight-700;
}

.hero__p {
    font-size: $font-size-20;
    line-height: $line-height-30;
    font-weight: $font-weight-300;
}