.pagination {
    width: calc(0.234375 * 100vw); // 450px 
    margin: calc(0.041666 * 100vh) auto; // 80px

    &__link {
        padding: 0 calc(0.010416 * 100vw); // 20px
        font-size: $font-size-18;
        font-weight: $font-weight-300;
        color: $text-muted;
    }
    
    .active {
        color: black;
    }
}