.subscriber {
    width: 100vw;
    height: 100vh;
    background-color: $green;
    &__close {
        display: block;
        width: 50px;
        margin-left: auto;
        padding-top: 50px;
        hr {
            width: 4px;
            height: 40px;
            border-radius: 50px;
            color: $white;
            background-color: $white;
        }
        &__right {
            transform: rotate(45deg);
        }
        &__left {
            margin-top: -40px;
            transform: rotate(-45deg);
        }
    }
    &__content {
        display: flex;
        width: 510px;
        height: 400px;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .subscriber__title {
            font-size: $font-size-48;
            line-height: $line-height-62;
            color: $white;
        }
        .subscriber__container {
            text-align: left;
            margin-right: 10px;
            &__label {
                display: block;
                margin: 10px 0;
                font-size: $font-size-20;
                color: $white;
            }
            &__input {
                width: 350px;
                padding: 10px;
                border: 1px solid $white;
                outline: none;
                background-color: $green;
            }
            &__btn {
                width: 120px;
                margin: auto 10px;
                padding: 5px 10px;
                font-size: $font-size-20;
                font-weight: $font-weight-300;
                color: $green;
            }
        }
    }
}