// color
$white: white;
$black: #000000;
$green: #27806A;
$blue: #126DFF;
$dark-blue: #3B5998;
$text-muted: #929292;
$light-dark-background: #F2F2F2;

// font family
$font-family: 'Mukta', sans-serif;

// font size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-32: 32px;
$font-size-40: 40px;
$font-size-48: 48px;
$font-size-56: 56px;

// font weight
$font-weight-300: 300;
$font-weight-500: 500;
$font-weight-700: 700;

// line height
$line-height-22: 22px;
$line-height-25: 25px;
$line-height-30: 30px;
$line-height-41: 41px;
$line-height-62: 62px;