*,
::before,
::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body {
  font-family: "Mukta", sans-serif;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  font-family: "Mukta", sans-serif;
}

ul,
li {
  list-style: none;
}

.hero__container {
  margin: calc(0.15625 * 100vh) 0 0 calc(0.0625 * 100vw);
}

.hero__h1 {
  font-size: calc(0.025 * 100vw);
  font-weight: 700;
}

.hero__p {
  font-size: calc(0.010416 * 100vw);
  line-height: calc(0.015625 * 100vw);
  font-weight: 300;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  padding: 0 calc(0.026041 * 100vw);
  background-color: white;
}

.navbar__brand__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: calc(0.002604 * 100vh) 0;
}

.navbar__brand__btns .navbar__brand {
  font-size: calc(0.020833 * 100vw);
  color: #000000;
}

.navbar__brand__btns .navbar__btn__group {
  margin-left: auto;
}

.navbar__brand__btns .navbar__btn__group .navbar__btn {
  margin: 0 calc(0.005208 * 100vw);
  font-size: calc(0.009375 * 100vw);
  font-weight: 300;
  line-height: calc(0.011458 * 100vw);
  color: #000000;
}

.navbar__brand__btns .navbar__btn__group .btn__subscribe {
  padding: calc(0.002604 * 100vh) calc(0.013020 * 100vw);
  border: 1px solid #000000;
  border-radius: 50px;
}

.navbar__brand__btns .navbar__btn__group .btn__subscribe:hover {
  background-color: #000000;
  color: white;
}

.navbar__brand__btns .navbar__btn__group .btn__create {
  padding: 6px calc(0.013020 * 100vw);
  border-radius: 50px;
  background-color: #000000;
  color: white;
}

.navbar__brand__btns .navbar__btn__group .btn__create:hover {
  background-color: #27806A;
}

.navbar__navs__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: calc(0.010416 * 100vh) 0;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.navbar__navs__input .navbar__nav .navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item {
  position: relative;
  padding: 0 calc(0.017708 * 100vw);
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item:first-child {
  padding-left: 0;
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item .navbar__link {
  font-size: calc(0.009375 * 100vw);
  font-weight: 300;
  line-height: calc(0.011458 * 100vw);
  color: #000000;
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item .navbar__link:hover {
  color: #27806A;
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item .navbar__dropdown {
  position: absolute;
  top: 23px;
  left: -10px;
  display: none;
  width: calc(0.104166 * 100vw);
  padding: calc(0.010416 * 100vh) calc(0.013020 * 100vw);
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
  background-color: white;
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item .navbar__dropdown__list .navbar__dropdown__item {
  padding-top: calc(0.004166 * 100vh);
  padding-bottom: calc(0.004166 * 100vh);
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item .navbar__dropdown__list .navbar__dropdown__item .navbar__dropdown__link {
  font-size: calc(0.009375 * 100vw);
  font-weight: 300;
  color: #000000;
}

.navbar__navs__input .navbar__nav .navbar__list .navbar__item .navbar__dropdown__list .navbar__dropdown__item .navbar__dropdown__link:hover {
  color: #27806A;
}

.navbar__navs__input .navbar__nav .navbar__list .hover__dropdown:hover .navbar__dropdown {
  display: block;
}

.navbar__navs__input .navbar__form {
  padding: calc(0.002604 * 100vh) 0;
  border-left: 1px solid #000000;
}

.navbar__navs__input .navbar__form i {
  padding-left: calc(0.010416 * 100vw);
  padding-right: calc(0.005208 * 100vw);
  color: #929292;
}

.navbar__navs__input .navbar__form .navbar__search {
  outline: none;
  border: none;
}

.home__hero {
  margin-top: calc(0.182291 * 100vh);
  padding: calc(0.015625 * 100vh) calc(0.036458 * 100vw);
}

.home__hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home__hero__container .home__hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__hero__container .home__hero__content__title {
  display: block;
  font-size: calc(0.016666 * 100vw);
  font-weight: 700;
  line-height: calc(0.021354 * 100vw);
  color: #000000;
}

.home__hero__container .home__hero__content__title:hover {
  color: #27806A;
}

.home__hero__container .home__hero__content__title span {
  display: block;
  width: calc(0.104166 * 100vw);
  font-size: calc(0.016666 * 100vw);
}

.home__hero__container .home__hero__content__link {
  display: block;
  width: calc(0.190104 * 100vw);
  margin-top: auto;
  padding: calc(0.010416 * 100vh) 0;
  border-bottom: 1px solid #000000;
  font-size: calc(0.011458 * 100vw);
  font-weight: 300;
  color: #000000;
}

.home__hero__container .home__hero__content__link::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.home__hero__container .home__hero__content__link:hover {
  color: #27806A;
}

.home__hero__container .home__hero__link {
  width: calc(0.404166 * 100vw);
  height: 443px;
  margin-left: auto;
  overflow: hidden;
}

.home__hero__container .home__hero__link__hover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.home__hero__container .home__hero__link__hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #27806ad3;
  opacity: 0;
}

.home__hero__container .home__hero__link__hover .hover__text {
  position: relative;
  z-index: 10;
  margin: calc(0.010416 * 100%);
  font-size: calc(0.010416 * 100vw);
  color: white;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.home__hero__container .home__hero__link__hover hr {
  position: relative;
  z-index: 10;
  width: calc(0.260416 * 100vw);
  height: calc(0.000520 * 100vh);
  color: white;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.home__hero .home__hero__link:hover .home__hero__link__hover,
.home__hero .home__hero__link:focus .home__hero__link__hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home__hero .home__hero__link:hover .home__hero__link__hover::before,
.home__hero .home__hero__link:focus .home__hero__link__hover::before {
  opacity: 1;
}

.home__hero .home__hero__link:hover .hover__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.home__hero .home__hero__link:hover hr {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.blog {
  padding: calc(0.026041 * 100vh) calc(0.067708 * 100vw);
  margin-top: calc(0.015625 * 100vh);
}

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog__list .blog__item {
  padding: calc(0.015625 * 100vh) 0;
  margin: calc(0.0119791 * 100vw);
}

.blog__list .blog__item .card {
  width: calc(0.145833 * 100vw);
}

.blog__list .blog__item .card__img {
  width: 100%;
  height: 158px;
}

.blog__list .blog__item .card__body__period {
  margin: calc(0.010416 * 100vh) 0;
}

.blog__list .blog__item .card__body__period .card__time {
  font-size: calc(0.007291 * 100vw);
  color: #929292;
}

.blog__list .blog__item .card__body__period .card__menu {
  margin-left: calc(0.078125 * 100vw);
  color: #000000;
}

.blog__list .blog__item .card__body__text__link {
  font-size: calc(0.010416 * 100vw);
  font-weight: 300;
  line-height: calc(0.013020 * 100vw);
  color: #000000;
}

.blog__list .blog__item .card__body__text__link:hover {
  color: #126DFF;
}

.blog__text {
  text-align: center;
  padding: calc(0.015625 * 100vh) 0;
  font-size: calc(0.008333 * 100vw);
  font-weight: 300;
}

.blog__text__link {
  font-size: calc(0.008333 * 100vw);
  font-weight: 700;
  text-decoration: underline;
  color: #000000;
}

.solution {
  text-align: center;
  border-top: 1px solid #000000;
  background-color: #F2F2F2;
}

.solution__title {
  padding: calc(0.026041 * 100vh) 0;
  font-size: calc(0.020833 * 100vw);
}

.solution__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.solution__content .solution__card {
  display: block;
  width: 33.333vw;
  padding: calc(0.046975 * 100vh) calc(0.026041 * 100vw);
  border: 1px solid #000000;
}

.solution__content .solution__card:first-child {
  border-left: none;
  border-right: none;
}

.solution__content .solution__card:last-child {
  border-left: none;
  border-right: none;
}

.solution__content .solution__card__title {
  font-size: calc(0.016666 * 100vw);
}

.solution__content .solution__card__text {
  font-size: calc(0.011458 * 100vw);
  font-weight: 300;
}

.solution__content .solution__card__link {
  font-size: calc(0.009375 * 100vw);
  font-weight: 700;
  text-decoration: underline;
  color: #000000;
}

.solution__content .solution__card__link::after {
  content: '\f061';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.footer {
  padding: calc(0.026041 * 100vh) calc(0.104166 * 100vw);
}

.footer__nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer__nav__container .footer__col__title {
  padding: calc(0.0078125 * 100vh) 0;
  font-size: calc(0.008333 * 100vw);
}

.footer__nav__container .footer__col .footer__nav__list .footer__nav__item {
  padding: calc(0.001562 * 100vh) 0;
}

.footer__nav__container .footer__col .footer__nav__list .footer__nav__item .footer__nav__link {
  font-size: calc(0.008333 * 100vw);
  font-weight: 300;
  color: #000000;
}

.footer__nav__container .footer__col__list .footer__content__text {
  width: calc(0.15625 * 100vw);
  margin-top: calc(0.010416 * 100vh);
  font-size: calc(0.008333 * 100vw);
  font-weight: 300;
  color: #000000;
}

.footer hr {
  margin: calc(0.015625 * 100vh) 0;
}

.footer__description__brand {
  font-size: calc(0.016666 * 100vw);
}

.footer__description__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: calc(0.005208 * 100vh) 0;
}

.footer__description__container .footer__description__content {
  width: calc(0.182812 * 100vw);
  margin-right: calc(0.015625 * 100vw);
}

.footer__description__container .footer__description__content__text {
  font-size: calc(0.008333 * 100vw);
  font-weight: 300;
}

.footer__description__container .footer__description__content span {
  display: block;
  padding-top: calc(0.015625 * 100vh);
  font-size: calc(0.008333 * 100vw);
  font-weight: 300;
}

.scroller {
  position: fixed;
  left: 10px;
  bottom: 20px;
  padding: 3px 9px;
  border: 3px solid #929292;
  border-radius: 50%;
  color: #929292;
}

.pagination {
  width: calc(0.234375 * 100vw);
  margin: calc(0.041666 * 100vh) auto;
}

.pagination__link {
  padding: 0 calc(0.010416 * 100vw);
  font-size: calc(0.009375 * 100vw);
  font-weight: 300;
  color: #929292;
}

.pagination .active {
  color: black;
}

.hero__sub {
  margin: calc(0.182291 * 100vh) calc(0.026041 * 100vw) calc(0.010416 * 100vh) calc(0.026041 * 100vw);
}

.hero__sub .hero__sub__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero__sub .hero__sub__link:hover {
  color: #27806A;
}

.hero__sub .hero__sub__link .hero__sub__content__title {
  display: block;
  width: calc(0.182291 * 100vw);
  font-size: calc(0.016666 * 100vw);
  font-weight: 700;
  line-height: calc(0.021354 * 100vw);
  color: #000000;
}

.hero__sub .hero__sub__link .hero__sub__content__title:hover {
  color: #27806A;
}

.hero__sub .hero__sub__link .hero__sub__content__text {
  display: block;
  width: calc(0.190104 * 100vw);
  margin-top: calc(0.130208 * 100vh);
  padding: calc(0.010416 * 100vh) 0;
  border-bottom: 1px solid #000000;
  font-size: calc(0.011458 * 100vw);
  font-weight: 300;
  color: #000000;
}

.hero__sub .hero__sub__link .hero__sub__content__text::after {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.hero__sub .hero__sub__link .hero__sub__content__text:hover {
  color: #27806A;
}

.hero__sub .hero__sub__link .hero__sub__link {
  width: calc(0.404166 * 100vw);
  height: 443px;
  margin-left: auto;
  overflow: hidden;
}

.hero__sub .hero__sub__link .hero__sub__link__hover {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hero__sub .hero__sub__link .hero__sub__link__hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #27806ad3;
  opacity: 0;
}

.hero__sub .hero__sub__link .hero__sub__link__hover .hover__text {
  position: relative;
  z-index: 10;
  margin: calc(0.01041 * 100vw);
  color: white;
  font-size: calc(0.010416 * 100vw);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.hero__sub .hero__sub__link .hero__sub__link__hover hr {
  position: relative;
  z-index: 10;
  width: calc(0.260416 * 100vw);
  height: calc(0.000520 * 100vh);
  color: white;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 0;
}

.hero__sub .hero__sub__link .hero__sub__link:hover .hero__sub__link__hover,
.hero__sub .hero__sub__link .hero__sub__link:focus .hero__sub__link__hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hero__sub .hero__sub__link .hero__sub__link:hover .hero__sub__link__hover::before,
.hero__sub .hero__sub__link .hero__sub__link:focus .hero__sub__link__hover::before {
  opacity: 1;
}

.hero__sub .hero__sub__link .hero__sub__link:hover .hover__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hero__sub .hero__sub__link .hero__sub__link:hover hr {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.subscriber {
  width: 100vw;
  height: 100vh;
  background-color: #27806A;
}

.subscriber__close {
  display: block;
  width: 50px;
  margin-left: auto;
  padding-top: calc(0.026041 * 100vh);
}

.subscriber__close hr {
  width: 4px;
  height: 40px;
  border-radius: 50px;
  color: white;
  background-color: white;
}

.subscriber__close__right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.subscriber__close__left {
  margin-top: -40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.subscriber__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(0.265625 * 100vw);
  height: 400px;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscriber__content .subscriber__title {
  font-size: calc(0.025 * 100vw);
  line-height: calc(0.032291 * 100vw);
  color: white;
}

.subscriber__content .subscriber__container {
  text-align: left;
  margin-right: calc(0.005208 * 100vw);
}

.subscriber__content .subscriber__container__label {
  display: block;
  margin: calc(0.005208 * 100vh) 0;
  font-size: calc(0.010416 * 100vw);
  color: white;
}

.subscriber__content .subscriber__container__input {
  width: calc(0.182291 * 100vw);
  padding: calc(0.005208 * 100vw);
  border: 1px solid white;
  outline: none;
  background-color: #27806A;
  color: white;
}

.subscriber__content .subscriber__container__btn {
  width: calc(0.0625 * 100vw);
  margin: auto calc(0.005208 * 100vw);
  padding: calc(0.002604 * 100vh) calc(0.005208 * 100vw);
  font-size: calc(0.010416 * 100vw);
  font-weight: 300;
  color: #27806A;
}

.login__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: calc(0.005208 * 100vh) calc(0.020833 * 100vw);
}

.login__navbar__brand {
  font-size: calc(0.020833 * 100vw);
  font-weight: 700;
  color: #000000;
}

.login__navbar__close {
  display: block;
  width: calc(0.026041 * 100vw);
}

.login__navbar__close hr {
  width: calc(0.002083 * 100vw);
  height: 40px;
  border-radius: 50px;
  color: #000000;
  background-color: #000000;
}

.login__navbar__close__right {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login__navbar__close__left {
  margin-top: -40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.login {
  margin-top: calc(-0.020833 * 100vh);
  text-align: center;
}

.login__title {
  font-size: calc(0.029166 * 100vw);
  font-weight: 700;
  line-height: calc(0.032291 * 100vw);
}

.login__sub__title {
  margin: calc(0.010416 * 100vh) 0;
  font-size: calc(0.011458 * 100vw);
  font-weight: 300;
}

.login__sub__title__link {
  font-size: calc(0.011458 * 100vw);
  font-weight: 300;
}

.login__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.login__container .form {
  border-right: 1px solid #000000;
  padding: 0 calc(0.03125 * 100vw);
}

.login__container .form__container {
  position: relative;
  margin: calc(0.03125 * 100vh) 0;
}

.login__container .form__container__label {
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: calc(0.010416 * 100vw);
  pointer-events: none;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.login__container .form__container__input {
  display: block;
  width: calc(0.182291 * 100vw);
  padding: calc(0.005208 * 100vw);
  font-size: calc(0.009375 * 100vw);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.144);
}

.login__container .form__container__input:hover {
  border-bottom: 1px solid #000000;
}

.login__container .form__container .form__container__input:focus {
  outline: none;
}

.login__container .form__container .form__container__input:focus ~ .form__container__label,
.login__container .form__container .form__container__input:valid ~ .form__container__label {
  top: -20px;
  font-size: calc(0.006770 * 100vw);
  color: #929292;
}

.login__container .form__container__bar {
  display: block;
  height: 1.5px;
  width: 0;
  background: #126DFF;
  -webkit-transition: 0.7s ease all;
  transition: 0.7s ease all;
}

.login__container .form__container .form__container__input:focus ~ .form__container__bar {
  width: 100%;
}

.login__container .form__btn {
  display: block;
  width: calc(0.078125 * 100vw);
  padding: calc(0.002604 * 100vw);
  margin: calc(0.015625 * 100vh) 0;
  border-radius: 50px;
  font-size: calc(0.009375 * 100vw);
  font-weight: 300;
  color: white;
  background-color: #126DFF;
}

.login__container .account {
  padding: 0 calc(0.03125 * 100vw);
}

.login__container .account__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  margin: calc(0.007812 * 100vw);
  border: 1px solid #3B5998;
  background-color: #3B5998;
  color: white;
}

.login__container .account__link:nth-child(2) {
  border: 1px solid #126DFF;
  background-color: #126DFF;
}

.login__container .account__link__img {
  width: 40px;
  height: 40px;
  margin-bottom: -10px;
  background: white;
}

.login__container .account__link__text {
  display: block;
  padding: 0 calc(0.018229 * 100vw);
  padding-top: 8px;
}

.login__container .account__link .small__img {
  width: 42px;
  padding: 10px;
}

.login__privacy {
  margin: calc(0.015625 * 100vh) 0;
}

.login__privacy__text {
  width: calc(0.182291 * 100vw);
  margin: auto;
  font-size: calc(0.008333 * 100vw);
  font-weight: 300;
}

.login__privacy__text__link {
  font-size: calc(0.008333 * 100vw);
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */